params {
  reads      = 'data/raw/*_{R1,R2}.fastq.gz'
  genome     = 'data/reference/genome.fa.gz'
  annotation = 'data/reference/annotation.gtf.gz'
  metadata   = 'data/metadata/sample_sheet.csv'
  outdir     = 'results'
}

process {
  executor = 'local'
  cpus = 2
  memory = '4 GB'
  errorStrategy = 'terminate'
}

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_timeline.html"
}

report {
  enabled = true
  file = "${params.outdir}/pipeline_report.html"
}

dag {
  enabled = true
  file = "${params.outdir}/pipeline_dag.html"
}